#ast1 {
    border: 0.8px dotted #d4d4d4;
    border-right: 0.8px dotted transparent;
    left: -4.2px;
    top: -4.2px;
    width: 42px;
    height: 42px;
    animation: animationRing2 24s linear infinite;
}
#ast2 {
    border: 0.8px dotted #d4d4d4;
    border-left: 0.8px solid transparent;
    left: -7.2px;
    top: -7.2px;
    width: 48.5px;
    height: 48.5px;
    animation: animationRing2 11s linear infinite;
}

#ast3 {
    border: 0.8px dotted #d4d4d4;
    border-left: 0.8px solid transparent;
    left: -9.8px;
    top: -9.8px;
    width: 53.5px;
    height: 53.5px;
    animation: animationRing2 1444447s linear infinite;
}
#ast4 {
    border: 0.8px dotted #d4d4d4;
    border-top: 0.8px solid transparent;
    left: -12.2px;
    top: -12.2px;
    width: 58.5px;
    height: 58.5px;
    animation: animationRing2 4444410s linear infinite;
}


@keyframes animationRing2 {
    0% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
    }
}