/*Fontes*/
@font-face {
    src: url(fonte/FORCED\ SQUARE.ttf);
    font-family: 'raleway-regular';
    font-weight: normal;
}

body{
    margin: 0px;
    padding: 0px;
    background: url(img/espaco.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
}
.loading{
    position: relative;
    width: 100%;
    height: 10%;
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, #a3a3a3, #7a7a7a, #525252, #292929, #292929, #525252, #7a7a7a, #a3a3a3);
    background-size: 200%;
    animation: animation 2s linear infinite;
    z-index: 99999;
}

@keyframes animation {
    0%{
        background-position: 0 0;
    }
    0%{
        background-position: -500% 0;
    }
}

/*Ocultar*/
.hide{
    display: none;
}

/*Linhas de rotação*/
.mercury-outline,.venus-outline-1,.earth-outline-1,.mars-outline-1,.jupiter-outline-1,.saturno-outline-1,.urans-outline-1,.neptune-outline-1{
    border-radius: 50%;
    border: 1px dotted #ddd9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Sol*/
.sun-index{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-image: url(img/planets_index/sol.jpg);
    background-size: 200%;
    background-position-y: 850px;
    box-shadow: 0px 0px 25px #f65a1c;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 9;
    transform: translate(-50%, -50%);
    animation: giroSol 505s linear infinite;
}
.sun-index::before{
	content: "";
	border-radius: 50%;
	box-shadow: 0px 0px 17px rgb(0, 0, 0) inset;
	position:absolute;
	height: 90px;
	width: 90px;
}

/*Planetas*/
.planets{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    place-items: center;
}

/*Mercurio*/
.mercury-outline{
    z-index: 8;
    height: 141px;
    width: 141px;
}
.mercury-planet{
    height: 21px;
    width: 21px;
    background-image: url(img/planets_index/mapa_mercurio2.jpg);
    background-size: 200%;
    border-radius: 50%;
    position: absolute;
    top: 42%;
    left: 42%;
    opacity: 100%;
    z-index: 1;
    transform: translateX(-50% -50%);
    animation: rotationOrbitMercury 12s linear infinite, girar 120s linear infinite;
}
.mercury-planet::before{
	content: "";
	border-radius: 47%;
	box-shadow: -7px 0px 3.9px rgba(0, 0, 0, 0.679) inset;
	position:absolute;
	height: 21px;
	width: 21px;
}
.mercury-planet::after{
	content: "";
	border-radius: 50%;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.626) inset;
	position:absolute;
	height: 21px;
	width: 21px;
}

/*Animação da orbita de Mercurio*/
@keyframes rotationOrbitMercury{
    0%{
        transform: rotate(0) translateX(70px);
    }
    100%{
        transform: rotate(360deg) translateX(70px);
    }
}

/*Venus*/
.venus-outline-1{
    z-index: 7;
    height: 225px;
    width: 225px;
}
.venus-planet{
    height: 30px;
    width: 30px;
    background-image: url(img/planets_index/mapa_venus.jpg);
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 42%;
    left: 42%;
    z-index: 1;
    transform: translateX(-50% -50%);
    animation: rotationOrbitVenus 21s linear infinite, girar 120s linear infinite;
}
.venus-planet::before{
	content: "";
	border-radius: 47%;
	box-shadow: -10px 0px 3.9px rgba(0, 0, 0, 0.71) inset;
	position:absolute;
	height: 30px;
	width: 30px;
}
.venus-planet::after{
	content: "";
	border-radius: 50%;
	box-shadow: 0px 0px 5px rgb(0, 0, 0) inset;
	position:absolute;
	height: 30px;
	width: 30px;
}
/*Animação da orbita de Venus*/
@keyframes rotationOrbitVenus{
    0%{
        transform: rotate(0) translateX(110px);
    }
    100%{
        transform: rotate(360deg) translateX(110px);
    }
}

/*Earth*/
.earth-outline-1{
    z-index: 6;
    height: 310px;
    width: 310px;
}
.earth-planet{
    height: 31px;
    width: 31px;
    background-image: url(img/planets_index/mapa_terra.jpg);
    background-size: 105%;
    border-radius: 50%;
    position: absolute;
    top: 44%;
    left: 45%;
    z-index: 1;
    transform: translateX(-50% -50%);
    animation: rotationOrbitEarth 31s linear infinite, girar 120s linear infinite;
}
.earth-planet::before{
	content: "";
	border-radius: 50%;
	box-shadow: -10px 0px 3.9px rgba(0, 0, 0, 0.4) inset;
	position:absolute;
	height: 31px;
	width: 31px;
}
.earth-planet::after{
	content: "";
	border-radius: 50%;
	box-shadow: 0px 0px 5px rgb(0, 0, 0) inset;
	position:absolute;
	height: 31px;
	width: 31px;
}
/*Animação da orbita da Terra*/
@keyframes rotationOrbitEarth{
    0%{
        transform: rotate(0) translateX(154px);
    }
    100%{
        transform: rotate(360deg) translateX(154px);
    }
}

/*Marte*/
.mars-outline-1{
    z-index: 5;
    height: 395px;
    width: 395px;
}
.mars-planet{
    height: 28px;
    width: 28px;
    background-image: url(img/planets_index/mapa_marte.jpg);
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    border-radius: 50%;
    position: absolute;
    top: 46%;
    left: 46%;
    z-index: 1;
    transform: translateX(-50% -50%);
    animation: rotationOrbitMars 41s linear infinite, girar 120s linear infinite;
}
.mars-planet::before{
	content: "";
	border-radius: 47%;
	box-shadow: -10px 0px 3.9px rgba(0, 0, 0, 0.71) inset;
	position:absolute;
	height: 28px;
	width: 28px;
}
.mars-planet::after{
	content: "";
	border-radius: 50%;
	box-shadow: 0px 0px 5px rgb(0, 0, 0) inset;
	position:absolute;
	height: 28px;
	width: 28px;
}
/*Animação da orbita de Marte*/
@keyframes rotationOrbitMars{
    0%{
        transform: rotate(0) translateX(197px);
    }
    100%{
        transform: rotate(360deg) translateX(197px);
    }
}

/*Jupiter*/
.jupiter-outline-1{
    z-index: 4;
    height: 480px;
    width: 480px;
}
.jupiter-planet{
    height: 46px;
    width: 46px;
    background-image: url(img/planets_index/mapa_jupiter.jpg);
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 102%;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 1;
    transform: translateX(-50% -50%);
    animation: rotationOrbitJupiter 69s linear infinite, girar 72s linear infinite;
}
.jupiter-planet::before{
	content: "";
	border-radius: 37.5%;
	box-shadow: -11px 0px 3.9px rgba(0, 0, 0, 0.62) inset;
	position:absolute;
	height: 46px;
	width: 46px;
}
.jupiter-planet::after{
	content: "";
	border-radius: 50%;
	box-shadow: 0px 0px 16px rgb(0, 0, 0) inset;
	position:absolute;
	height: 46px;
	width: 46px;
}

/*Animação da orbita de Jupiter*/
@keyframes rotationOrbitJupiter{
    0%{
        transform: rotate(0) translateX(236px);
    }
    100%{
        transform: rotate(360deg) translateX(236px);
    }
}

/*Saturno*/
.saturno-outline-1{
    z-index: 3;
    height: 565px;
    width: 565px;
}
.saturn-planet{
    width: 37px;
    height: 37px;
    top: 46.7%;
    left: 46.7%;
    border-radius: 50%;
    position: absolute;
    z-index: -99;
    transform: translateX(-50% -50%);
    animation: rotationOrbitSaturn 80s linear infinite,  girar 60s linear infinite;;
    
}   
.saturn-img::before{
	content: "";
	border-radius: 37%;
	box-shadow: -8.5px 0px 3.9px rgba(0, 0, 0, 0.71) inset;
	position:absolute;
	height: 28px;
	width: 28px;
}
.saturn-img::after{
	content: "";
	border-radius: 50%;
	box-shadow: 0px 0px 4px rgb(0, 0, 0) inset;
	position:absolute;
	height: 28px;
	width: 28px;
}
.saturn-img{
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: url(img/planets_index/mapa_saturno.jpg);
    background-size: 200%;
    z-index: -100;
    transform-style: preserve-3d;
}
.ring-saturn{
    top: -10%;
    left: -9px;
    right: 0;
    margin: auto;
    width: 35px;
    height: 35px;
    border: 0.8px dotted #d4d4d4;
    border-right: 1px dotted transparent;
    border-radius: 50%;
    animation: animationRing1 24s linear infinite;
    z-index: -200;
}
.ring-saturn, section{
    position: absolute;
    border-radius: 50%;
    background-color: transparent;
    transform-style: preserve-3d;
}
/*Animação dos Aneis de Saturno*/
@keyframes animationRing1 {
    0% {
        transform: rotateX(-75deg) rotateY(-20deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(-75deg) rotateY(-20deg) rotateZ(360deg);
    }
}
/*Animação da orbita de Saturno*/
@keyframes rotationOrbitSaturn{
    0%{
        transform: rotate(0) translateX(284px);
    }
    100%{
        transform: rotate(360deg) translateX(284px);
    }
}

/*Urano*/
.urans-outline-1{
    z-index: 2;
    height: 650px;
    width: 650px;
}
.urans-planet{
    height: 34px;
    width: 34px;
    background-image: url(img/planets_index/mapa_urano.jpg);
    background-size: 109%;
    background-position-x: 50%;
    background-position-y: 50%;
    border-radius: 50%;
    position: absolute;
    top: 47%;
    left: 47.5%;
    z-index: 1;
    transform: translateX(-50% -50%);
    animation: rotationOrbitUrans 100s linear infinite, girar 50s linear infinite;
}
.urans-planet::before{
	content: "";
	border-radius: 36.8%;
	box-shadow: -10px 0px 3.9px rgba(0, 0, 0, 0.67) inset;
	position:absolute;
	height: 34px;
	width: 34px;
}
.urans-planet::after{
	content: "";
	border-radius: 50%;
	box-shadow: 0px 0px 5px rgb(0, 0, 0) inset;
	position:absolute;
	height: 34px;
	width: 34px;
}
/*Animação da orbita de Urano*/
@keyframes rotationOrbitUrans{
    0%{
        transform: rotate(0) translateX(323px);
    }
    100%{
        transform: rotate(360deg) translateX(323px);
    }
}

/*Netuno*/
.neptune-outline-1{
    z-index: 1;
    height: 735px;
    width: 735px;
}
.neptune-planet{
    height: 35px;
    width: 35px;
    background-image: url(img/planets_index/mapa_netuno.jpg);
    background-size: 150%;
    background-position-x: 50%;
    background-position-y: 50%;
    border-radius: 50%;
    position: absolute;
    top: 48%;
    left: 47.5%;
    z-index: 1;
    transform: translateX(-50% -50%);
    animation: rotationOrbitNeptune 120s linear infinite, girar 60s linear infinite;
}
.neptune-planet::before{
	content: "";
	border-radius: 36.5%;
	box-shadow: -10.5px 0px 3.9px rgba(0, 0, 0, 0.78) inset;
	position:absolute;
	height: 35px;
	width: 35px;
}
.neptune-planet::after{
	content: "";
	border-radius: 50%;
	box-shadow: 0px 0px 5px rgb(0, 0, 0) inset;
	position:absolute;
	height: 35px;
	width: 35px;
}
/*Animação da orbita de Netuno*/
@keyframes rotationOrbitNeptune{
    0%{
        transform: rotate(0) translateX(367px);
    }
    100%{
        transform: rotate(360deg) translateX(367px);
    }
}

/*//ABA INFORMAÇÕES//*/

.sun-rep{
    background: url(img/planets_info/sol.jpg);
    background-size: 222%;
    border: 1px solid #f65a1c7f;
    box-shadow: 0px 0px 150px #f65a1c;
    width: 500px;
    height: 500px;
    top: 17%;
    left: 14%;
    z-index: -9999;
    border-radius: 50%;
    position: absolute;
    transform-style: preserve-3d;
    animation: girarInfo 400s linear infinite;
}
.sun-rep::before{
	content: "";
	border-radius: 50%;
	box-shadow: 0px 0px 50px rgb(0, 0, 0) inset;
	position: absolute;
	height: 500px;
	width: 500px;
    left: -1px;
    top: -1px;
}

.info-sun{
    font-family: 'Raleway-Regular';
    font-size: 2.80vh;
    color: #fff;
    padding: 1.5%;
    background-color: #13ebff2b;
    border-radius: 5px 50px 50px 100px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    height: 90vh;
    width: 80vh;
    position: absolute;
    left: 58%;
    top: 5%;
}

.mercury-rep{
    background: url(img/planets_info/mapa_mercurio.jpg);
    background-size: 222%;
    border: 1px solid rgba(88, 87, 102, 0.3);
    width: 400px;
    height: 400px;
    top: 22%;
    left: 16%;
    z-index: -9999;
    border-radius: 50%;
    position: absolute;
    transform-style: preserve-3d;
    animation: girarInfo 150s linear infinite;
}
.mercury-rep:before{
	content: "";
	border-radius: 50%;
	box-shadow: -130px 0px 70px rgba(0, 0, 0, 0.6) inset;
	left: 0px;
	position:absolute;
	top: 0px;
	height: 400px;
	width: 400px;
}
.mercury-rep::after{
	content: "";
	border-radius: 50%;
	box-shadow: 0px 0px 70px rgb(0, 0, 0) inset;
	position: absolute;
	height: 400px;
	width: 400px;
    left: -1px;
    top: -1px;
}
.info-mercury{
    font-family: 'Raleway-Regular';
    font-size: 2.80vh;
    color: #fff;
    padding: 1.5%;
    background-color: #13ebff2b;
    border-radius: 5px 50px 50px 100px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    height: 90vh;
    width: 80vh;
    position: absolute;
    left: 58%;
    top: 5%;
}


.venus-rep{
    background: url(img/planets_info/mapa_venus.jpg);
    background-size: cover;
    border: 1px solid rgba(102, 72, 44, 0.3);
    width: 400px;
    height: 400px;
    top: 22%;
    left: 16%;
    z-index: -9999;
    border-radius: 50%;
    position: absolute;
    transform-style: preserve-3d;
    animation: girarInfo 150s linear infinite;
}
.venus-rep:before{
	content: "";
	border-radius: 50%;
	box-shadow: -130px 0px 70px rgba(0, 0, 0, 0.6) inset;
	position:absolute;
	height: 400px;
	width: 400px;
}
.venus-rep::after{
	content: "";
	border-radius: 50%;
	box-shadow: 0px 0px 70px rgb(0, 0, 0) inset;
	position: absolute;
	height: 400px;
	width: 400px;
    left: -1px;
    top: -1px;
}
.info-venus{
    font-family: 'Raleway-Regular';
    font-size: 2.80vh;
    color: #fff;
    padding: 1.5%;
    background-color: #13ebff2b;
    border-radius: 5px 50px 50px 100px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    height: 90vh;
    width: 80vh;
    position: absolute;
    left: 58%;
    top: 5%;
}

.earth-rep{
    background: url(img/planets_info/mapa_terra.jpg);
    background-size: 222%;
    border: 1px solid rgba(26,18,101,0.3);
    width: 400px;
    height: 400px;
    top: 22%;
    left: 16%;
    z-index: -9999;
    border-radius: 50%;
    position: absolute;
    transform-style: preserve-3d;
    animation: girarInfo 150s linear infinite;
}
.earth-rep:before{
	content: "";
	border-radius: 50%;
	box-shadow: -130px 0px 50px rgba(0, 0, 0, 0.6) inset;
	left: 0px;
	position:absolute;
	top: 0px;
	height: 400px;
	width: 400px;
}
.earth-rep::after{
	content: "";
	border-radius: 50%;
	box-shadow: 0px 0px 50px rgb(0, 0, 0, 0.6) inset;
	position: absolute;
	height: 400px;
	width: 400px;
    left: -1px;
    top: -1px;
}
.info-earth{
    font-family: 'Raleway-Regular';
    font-size: 2.80vh;
    color: #fff;
    padding: 1.5%;
    background-color: #13ebff2b;
    border-radius: 5px 50px 50px 100px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    height: 90vh;
    width: 80vh;
    position: absolute;
    left: 58%;
    top: 5%;
}

.mars-rep{
    background: url(img/planets_info/mapa_marte.jpg);
    background-size: 200%;
    border: 1px solid rgba(26,18,101,0.3);
    width: 400px;
    height: 400px;
    top: 22%;
    left: 16%;
    z-index: -9999;
    border-radius: 50%;
    position: absolute;
    transform-style: preserve-3d;
    animation: girarInfo 200s linear infinite;
}
.mars-rep:before{
	content: "";
	border-radius: 50%;
	box-shadow: -130px 0px 70px rgba(0, 0, 0, 0.65) inset;
	left: 0px;
	position:absolute;
	top: 0px;
	height: 400px;
	width: 400px;
}
.mars-rep::after{
	content: "";
	border-radius: 50%;
	box-shadow: 0px 0px 70px rgb(0, 0, 0) inset;
	position: absolute;
	height: 400px;
	width: 400px;
    left: -1px;
    top: -1px;
}
.info-mars{
    font-family: 'Raleway-Regular';
    font-size: 2.80vh;
    color: #fff;
    padding: 1.5%;
    background-color: #13ebff2b;
    border-radius: 5px 50px 50px 100px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    height: 90vh;
    width: 80vh;
    position: absolute;
    left: 58%;
    top: 5%;
}

.jupiter-rep{
    background: url(img/planets_info/mapa_jupiter.jpg);
    background-size: 200%;
    border: 1px solid rgba(26,18,101,0.3);
    width: 400px;
    height: 400px;
    top: 22%;
    left: 16%;
    z-index: -9999;
    border-radius: 50%;
    position: absolute;
    transform-style: preserve-3d;
    animation: girarInfo 200s linear infinite;
}
.jupiter-rep:before{
	content: "";
	border-radius: 50%;
	box-shadow: -130px 0px 70px rgba(0, 0, 0, 0.65) inset;
	left: 0px;
	position:absolute;
	top: 0px;
	height: 400px;
	width: 400px;
}
.jupiter-rep::after{
	content: "";
	border-radius: 50%;
	box-shadow: 0px 0px 70px rgb(0, 0, 0) inset;
	position: absolute;
	height: 400px;
	width: 400px;
    left: -1px;
    top: -1px;
}
.info-jupiter{
    font-family: 'Raleway-Regular';
    font-size: 2.80vh;
    color: #fff;
    padding: 1.5%;
    background-color: #13ebff2b;
    border-radius: 5px 50px 50px 100px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    height: 90vh;
    width: 80vh;
    position: absolute;
    left: 58%;
    top: 5%;
}
.saturn-rep{
    width: 400px;
    height: 400px;
    top: 15%;
    left: 12%;
    z-index: -9999;
    border-radius: 50%;
    position: absolute;
}
.saturn-rep:before{
	content: "";
	border-radius: 225px;
	box-shadow: -270px -50px 25px rgba(0,0,0,0.68) inset;
	left: 17%;
	position: absolute;
	top: -7px;
	height: 540px;
	width: 550px;
}
.saturn-planet-rep, .isi-saturn-rep{
    position: absolute;
    height: 400px;
    width: 400px;
    top: 22%;
    left: 16%;
    border-radius: 50%;
    background: url(img/planets_info/mapa_saturno.png);
    background-size: cover;
    transform-style: preserve-3d;
    z-index: -100;
}
.isi-saturn-rep{
    background: url(img/planets_info/mapa_saturno2.png);
    background-size: cover;
    z-index: -300;
}
.ring-saturn-rep{
    top: 5%;
    left: 2%;
    right: 0;
    margin: auto;
    width: 500px;
    height: 500px;
    border: 2px dotted #80656f;
    border-right: 3px dotted transparent;
    border-radius: 50%;
    animation: animationRing1 24s linear infinite;
    z-index: -300;
}
.ring-saturn-rep, section{
    position: absolute;
    background-color: transparent;
    transform-style: preserve-3d;
    border-radius: 50%;
}

.info-saturn{
    font-family: 'Raleway-Regular';
    font-size: 2.80vh;
    color: #fff;
    padding: 1.5%;
    background-color: #13ebff2b;
    border-radius: 5px 50px 50px 100px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    height: 90vh;
    width: 80vh;
    position: absolute;
    left: 58%;
    top: 5%;
}

.urans-rep{
    background: url(img/planets_info/mapa_urano.jpg);
    background-size: 200%;
    border: 1px solid rgba(26,18,101,0.3);
    width: 400px;
    height: 400px;
    top: 22%;
    left: 16%;
    z-index: -9999;
    border-radius: 50%;
    position: absolute;
    transform-style: preserve-3d;
    animation: girarInfo 200s linear infinite;
}
.urans-rep:before{
	content: "";
	border-radius: 50%;
	box-shadow: -130px 0px 70px rgba(0, 0, 0, 0.65) inset;
	left: 0px;
	position:absolute;
	top: 0px;
	height: 400px;
	width: 400px;
}
.urans-rep::after{
	content: "";
	border-radius: 50%;
	box-shadow: 0px 0px 70px rgb(0, 0, 0) inset;
	position: absolute;
	height: 400px;
	width: 400px;
    left: -1px;
    top: -1px;
}
.info-urans{
    font-family: 'Raleway-Regular';
    font-size: 2.80vh;
    color: #fff;
    padding: 1.5%;
    background-color: #13ebff2b;
    border-radius: 5px 50px 50px 100px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    height: 90vh;
    width: 80vh;
    position: absolute;
    left: 58%;
    top: 5%;
}

.neptune-rep{
    background: url(img/planets_info/mapa_netuno.jpg);
    background-size: 200%;
    border: 1px solid rgba(26,18,101,0.3);
    width: 400px;
    height: 400px;
    top: 22%;
    left: 16%;
    z-index: -9999;
    border-radius: 50%;
    position: absolute;
    transform-style: preserve-3d;
    animation: girarInfo 200s linear infinite;
}
.neptune-rep:before{
	content: "";
	border-radius: 50%;
	box-shadow: -130px 0px 70px rgba(0, 0, 0, 0.65) inset;
	left: 0px;
	position:absolute;
	top: 0px;
	height: 400px;
	width: 400px;
}
.neptune-rep::after{
	content: "";
	border-radius: 50%;
	box-shadow: 0px 0px 70px rgb(0, 0, 0) inset;
	position: absolute;
	height: 400px;
	width: 400px;
    left: -1px;
    top: -1px;
}
.info-neptune{
    font-family: 'Raleway-Regular';
    font-size: 2.80vh;
    color: #fff;
    padding: 1.5%;
    background-color: #13ebff2b;
    border-radius: 5px 50px 50px 100px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    height: 90vh;
    width: 80vh;
    position: absolute;
    left: 58%;
    top: 5%;
}
/*Animações Gerais*/
@keyframes girar {
    0% { background-position: 0 0;}
	100%{ background-position: 0 -900px;}
}
@keyframes giroSol {
    0% { background-position: 0 0;}
	100%{ background-position: 900px 0;}

}
@keyframes girarInfo {
    0% { background-position: 0 0;}
	100%{ background-position: -900px 0;}

}