@font-face {
    src: url(fonte/FORCED\ SQUARE.ttf);
    font-family: 'raleway-regular';
    font-weight: normal;
}


body{
    margin: 0px;
    padding: 0px;
    background: url(img/espaco.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}
.planets{
    height: 100vh;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
}


/*Linhas de rotação*/
.mercury-outline,.venus-outline-1,.earth-outline-1,.mars-outline-1,.jupiter-outline-1,.saturno-outline-1,.urans-outline-1,.neptune-outline-1{
    border-radius: 50%;
    border: 1px dotted #ddd9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Sol*/

.sun{
    height: 95px;
    width: 95px;
    border-radius: 50%;
    background-image: url(img/580b585b2edbce24c47b2714.png);
    background-size: 128%;
    background-position-x: 50%;
    background-position-y: 50%;
    box-shadow: 0px 2px 30px #f65a1c;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

/*Mercurio*/
.mercury{
    height: 21px;
    width: 21px;
    background-image: url(img/mercurio.png);
    background-size: 100%;
    background-position-x: 50%;
    background-position-y: 50%;
    border-radius: 50%;
    position: absolute;
    top: 42%;
    left: 42%;
    z-index: 1;
    transform: translateX(-50% -50%);
    animation: rotationOrbitMercury 12s linear infinite;
}

@keyframes rotationOrbitMercury{
    0%{
        transform: rotate(0) translateX(70px);
    }
    100%{
        transform: rotate(360deg) translateX(70px);
    }
}

.p-mercury{
    color: white;
    font-family: system-ui;
    position: absolute;
    left: -68px;
    top: -11px;
}
.mercury-outline{
    height: 140px;
    width: 140px;
}

/*Venus*/
.venus{
    height: 30px;
    width: 30px;
    background-image: url(img/venus.png);
    background-size: 190%;
    background-position-x: 50%;
    background-position-y: 50%;
    border-radius: 50%;
    position: absolute;
    top: 42%;
    left: 42%;
    transform: translateX(-50% -50%);
    animation: rotationOrbitVenus 21s linear infinite;
}

@keyframes rotationOrbitVenus{
    0%{
        transform: rotate(0) translateX(110px);
    }
    100%{
        transform: rotate(360deg) translateX(110px);
    }
}
.p-venus{
    color: white;
    font-family: system-ui;
    position: absolute;
    left: -48px;
    top: -11px;
}
.venus-outline-1{
    z-index: -2;
    height: 225px;
    width: 225px;
}

/*Earth*/
.earth{
    height: 31px;
    width: 31px;
    background-image: url(img/terra.png);
    background-size: 130%;
    background-position-x: 50%;
    background-position-y: 50%;
    border-radius: 50%;
    position: absolute;
    top: 44%;
    left: 45%;
    transform: translateX(-50% -50%);
    animation: rotationOrbitEarth 31s linear infinite;
}
@keyframes rotationOrbitEarth{
    0%{
        transform: rotate(0) translateX(154px);
    }
    100%{
        transform: rotate(360deg) translateX(154px);
    }
}
.p-earth{
    color: white;
    font-family: system-ui;
    position: absolute;
    left: -43px;
    top: -2px;
}
.earth-outline-1{
    z-index: -3;
    height: 310px;
    width: 310px;
}

/*Marte*/
.mars{
    height: 28px;
    width: 28px;
    background-image: url(img/marte.png);
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    border-radius: 50%;
    position: absolute;
    top: 46%;
    left: 46%;
    transform: translateX(-50% -50%);
    animation: rotationOrbitMars 41s linear infinite;
}
@keyframes rotationOrbitMars{
    0%{
        transform: rotate(0) translateX(197px);
    }
    100%{
        transform: rotate(360deg) translateX(197px);
    }
}
.p-mars{
    color: white;
    font-family: system-ui;
    position: absolute;
    left: -46px;
    top: -5px;
}
.mars-outline-1{
    z-index: -4;
    height: 395px;
    width: 395px;
}

/*Jupiter*/
.jupiter{
    height: 46px;
    width: 46px;
    background-image: url(img/jupiter.png);
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 102%;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translateX(-50% -50%);
    animation: rotationOrbitJupiter 69s linear infinite;
}
@keyframes rotationOrbitJupiter{
    0%{
        transform: rotate(0) translateX(236px);
    }
    100%{
        transform: rotate(360deg) translateX(236px);
    }
}
.p-jupiter{
    color: white;
    font-family: system-ui;
    position: absolute;
    left: -51px;
    top: 5px;
}
.jupiter-outline-1{
    z-index: -5;
    height: 480px;
    width: 480px;
}

/*Saturno*/
.saturno{
    height: 37px;
    width: 37px;
    background-image: url(img/saturno.png);
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    border-radius: 50%;
    position: absolute;
    top: 47%;
    left: 47%;
    transform: translateX(-50% -50%);
    animation: rotationOrbitSaturn 82s linear infinite;
}
@keyframes rotationOrbitSaturn{
    0%{
        transform: rotate(0) translateX(282px);
    }
    100%{
        transform: rotate(360deg) translateX(282px);
    }
}
.p-saturno{
    color: white;
    font-family: system-ui;
    position: absolute;
    left: -58px;
    top: -3px;
}
.saturno-outline-1{
    z-index: -6;
    height: 565px;
    width: 565px;
}

/*Urano*/
.urans{
    height: 34px;
    width: 34px;
    background-image: url(img/urano.png);
    background-size: 109%;
    background-position-x: 50%;
    background-position-y: 50%;
    border-radius: 50%;
    position: absolute;
    top: 47%;
    left: 47.5%;
    transform: translateX(-50% -50%);
    animation: rotationOrbitUrans 100s linear infinite;
}
@keyframes rotationOrbitUrans{
    0%{
        transform: rotate(0) translateX(323px);
    }
    100%{
        transform: rotate(360deg) translateX(323px);
    }
}
.p-urans{
    color: white;
    font-family: system-ui;
    position: absolute;
    left: -58px;
    top: -3px;
}
.urans-outline-1{
    z-index: -7;
    height: 650px;
    width: 650px;
}

/*Netuno*/
.neptune{
    height: 35px;
    width: 35px;
    background-image: url(img/netuno.png);
    background-size: 150%;
    background-position-x: 50%;
    background-position-y: 50%;
    border-radius: 50%;
    position: absolute;
    top: 48%;
    left: 47.5%;
    transform: translateX(-50% -50%);
    animation: rotationOrbitNeptune 120s linear infinite;
}
@keyframes rotationOrbitNeptune{
    0%{
        transform: rotate(0) translateX(367px);
    }
    100%{
        transform: rotate(360deg) translateX(367px);
    }
}
.p-neptune{
    color: white;
    font-family: system-ui;
    position: absolute;
    left: -58px;
    top: -3px;
}
.neptune-outline-1{
    z-index: -8;
    height: 735px;
    width: 735px;
}




.hide{
    display: none;
}
#info-sun,#info-mercury,#info-venus,#info-earth,#info-mars,#info-jupiter,#info-saturno,#info-urans,#info-neptune{
    font-family: 'Raleway-Regular';
    font-size: 2.80vh;
    color: #fff;
    padding: 1.5%;
    background-color: #13ebff2b;
    border-left: 2px solid;
    border-bottom: 2px solid;
    height: 90vh;
    width: 80vh;
    position: absolute;
    left: 880px;
    top: 50px;
}